<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Params.browserTitle }} :: {{ .Title }}</title>
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preload" as="font" type="font/woff2" href="/fonts/lora-400.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/lora-600.woff2" crossorigin>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>

<body>

    {{ partial "topbar.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "bottombar.html" . }}

</body>

</html>
