{{ define "main" }}

<h1>{{ .Title }}</h1>

<ul>
    {{ range .Pages }}
        <div class="blogpost">
            <div class="blogpost-content">
                <a class="blogpost-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                <span class="blogpost-date">{{ .Date | time.Format "January 2, 2006" }}</span>
            </div>

            <div class="blogpost-content">
                <span>{{ .Description  }}</span>
            </div>

        </div>
    {{ end }}
</ul>

{{ end }}
