<header class="topbar">
    <div class="topbar-content">
        <a href="{{ "/" | relLangURL }}" class="site-title">{{ .Site.Title }}</a>
        <nav class="nav-links">
            <a href="{{ "blog/" | relLangURL }}">Blog</a>
            <a href="{{ "whoami/" | relLangURL }}">{{ i18n "nav_about" }}</a>
            {{ with .Translations }}
                {{ range . }}<a class="lang-switch" href="{{ .RelPermalink }}">{{ .Language.Lang | upper }}</a>{{ end }}
            {{ end }}
        </nav>
    </div>
</header>
