<style>
#typedText::after {
    content: "|";
    animation: blink 1s infinite;
    font-weight: bolder;
}
@keyframes blink {
  60% { opacity: 0; }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const text = "{{ .Site.Params.Greeting }}";
    const element = document.getElementById("typedText");
    let index = 0;

    function type() {
        if (index < text.length) {
            element.textContent += text.charAt(index);
            index++;
            setTimeout(type, 256);
        }
    }

    type();
});
</script>
